@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
/*variable for color*/
:root {
  --blue: #333B69;
  --red: #BE0000;
  --lightblue: #6A798C;
  --footerblue: #F2F4FF;
  --orange: #FA6262;
}

/* Genaral */
body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
	line-height: 1.5;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	outline: 0;
	overflow-x: hidden;
	overflow-y: auto; }
	body img {
		border: none;
		max-width: 100%;
		-webkit-user-select: none;
		-moz-user-select: none;
		-o-user-select: none;
		-ms-user-select: none;
		    user-select: none; }

a {
	text-decoration: none;
	color: var(--orange);
	transition: color 0.1s ease-in-out; }
	a:hover, a:focus {
		text-decoration: none;
		color: #333B69; }

p {
	font-size: 15px;
	color: #6A798C;
	font-weight: 400;
	line-height: 24px;
	margin: 0 0 10px; }

video {
	height: 100%;
	width: 100%; }

hr {
	margin: 0;
	border-color: #E8ECED; }



/*typography*/
/* --------------------------------- */

ul, ol {
	list-style: none;
	margin: 0;
	padding: 0; }

h1, h2, h3, h4, h5, h6 {
	font-family: "Roboto", sans-serif;
	margin-top: 0;
	margin-bottom: 10px;
	color: #333B69;
	font-weight: 700;
	line-height: 1.3;
	letter-spacing: -0.01em; }

h1 {
	font-size: 45px; }

h2 {
	font-size: 34px; }

h3 {
	font-size: 28px; }

h4 {
	font-size: 24px; }

h5 {
	font-size: 21px; }

h6 {
	font-size: 18px; }

@media only screen and (max-width: 575px) {
	h1 {
		font-size: 32px; }
	h2 {
		font-size: 28px; }
	h3 {
		font-size: 26px; } }

h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
	color: inherit; }
	h1 > a:hover, h1 > a:focus, h2 > a:hover, h2 > a:focus, h3 > a:hover, h3 > a:focus, h4 > a:hover, h4 > a:focus, h5 > a:hover, h5 > a:focus, h6 > a:hover, h6 > a:focus {
		color: #FA6262; }

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
	color: #333B69;
	font-size: 85%; }

/* --------------------------------- */

.__roboto-font{
  font-family: 'Roboto', sans-serif;
}
.__font-400{
  font-weight: 400;
}
.__font-700{
  font-weight: 700;
}
.__color-blue{
  color: var(--blue) !important;
}
.__color-red{
  color: var(--red) !important;
}
.__color-lightblue{
  color: var(--lightblue) !important;
}
.__color-orange{
  color: var(--orange) !important;
}

.__text-12px{
  font-size: 12px !important;
}
.__custom-gradient{
  background-image: linear-gradient(to right, #FD9A70 , #FA6262);
}

/*background color*/
.__color-background-blue{
  background-color: var(--blue) !important;
}
.__color-background-red{
  background-color: var(--red) !important;
}
.__color-background-orange{
  background-color: var(--orange) !important;
}
.__color-background-footerblue{
  background-color: var(--footerblue) !important;
}

/* ------------------------------------------------------ */
/* Fast Facts */

.__fast-fact{
  background-image: url("../img/fastfacts.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* ------------------------------------------------------ */

/* Social Icons */

/* ---------------------------------------------------- */

.social {
  display: inline-block;
	line-height: 40px;
	width: 40px;
	height: 40px;
	border-radius: 5px;
  background-color: var(--red);
  color: #fff !important;
	text-align: center;
	margin-right: 6px;
	margin-bottom: 6px;
	font-size: 15px;
	transition: all 0.1s ease-in-out; }

/* ---------------------------------------------------- */


/* ---------------------------------------------------- */
/* Grid Gallery */

.gallery {
  display: grid;
  grid-template-columns: repeat(6, 14.46%);
  grid-template-rows: repeat(5, 17.66%);
  grid-gap: 0.75rem;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;

  /** Alternative Syntax **/
  /* grid-column: 1 / span 2;  */
  /* grid-row: 1 / span 2; */
}

.gallery__item--2 {
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 3;

  /** Alternative Syntax **/
  /* grid-column: 3 / span 2;  */
  /* grid-row: 1 / span 2; */
}

.gallery__item--3 {
  grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;

  /** Alternative Syntax **/
  /* grid-column: 5 / span 4;
  grid-row: 1 / span 5; */
}

.gallery__item--4 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-end: 4;

  /** Alternative Syntax **/
  /* grid-column: 1 / span 4;  */
  /* grid-row: 3 / span 3; */
}

.gallery__item--5 {
  grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;

  /** Alternative Syntax **/
  /* grid-column: 1 / span 4; */
  /* grid-row: 6 / span 3; */
}

.gallery__item--6 {
  grid-column-start: 5;
      grid-column-end: 6;
      grid-row-start: 3;
      grid-row-end: 4;

  /** Alternative Syntax **/
  /* grid-column: 5 / span 4; */
  /* grid-row: 6 / span 3; */
}

.gallery__item--7 {
  grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 6;

  /** Alternative Syntax **/
  /* grid-column: 5 / span 4; */
  /* grid-row: 6 / span 3; */
}

.gallery__item--8 {
  grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 6;

  /** Alternative Syntax **/
  /* grid-column: 5 / span 4; */
  /* grid-row: 6 / span 3; */
}

/* ---------------------------------------------------- */


.testimonial-card{
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.testimonial__img {
  width: 60px !important;
  height: 60px !important;
  border-radius: 50%;}

.__card-author{
  margin-bottom: 0;
}

.__card-subtitle{
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
}
/*
.__card-text{
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
} */
/* ---------------------------------------------------- */
.__bg-image{
  background-repeat: no-repeat;
  /* background-position: right; */
  overflow: hidden;
  position: absolute;
  z-index: -1;}

.__90vh{
  height: 75vh;
}
.navbar {
  box-shadow: none !important; }
.position-image2{
  transform: translate(0px,-30vh);
}
.hover-effect{
  padding-top: 5px;
}

.hover-effect:hover {
  border-top: 5px solid var(--blue);
  padding-top: 1px;
  transition: .5s;
}
